html {
    font-size: 16px;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background: #0a0a0a;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

ul li a {
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
}

ul li a:hover {
    text-decoration: underline;
}

section#about_me {
    font-family: Arial;
    font-style: oblique;
    color: #000;
    font-size: medium;
}

section {
    margin: 20px;
    padding: 20px;
    background: #fff;
}

.profile-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
.bio {
    flex: 3; /* Takes up 3 parts of the space */
}

.profile-picture {
    flex: 1; /* Takes up 1 part of the space */
}
.profile-picture img {
    width: 200px;  /* Fixed width for larger screens */
    height: 200px; /* Fixed height to maintain aspect ratio */
    border-radius: 50%; /* Makes the image round */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: Adds shadow for depth */
    object-fit: cover; /* Ensures the image covers the area without distorting */
    max-width: 100%; /* Ensures the image is not bigger than its container */
    float: right;
}
.vertical_split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    height: 100%;
}

.icon_bar img {
    width: 50px; /* Smaller size for icons */
    height: 50px; /* Maintain aspect ratio */
    border-radius: 50%; /* Makes images round */
    margin-left: 10px; /* Space between icons */
}
.header_info {
flex-grow: calc(1 - 0.3); /* Takes up remaining space */
}