html {
    font-size: 16px;
    box-sizing: border-box;
    font-family: serif;

    color: black;

}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333333;
    background: radial-gradient(621px at 25.3% 13.8%, rgb(255, 255, 255) 0%, rgb(234, 236, 255) 90%);
}

header {
    background: radial-gradient(circle at 10% 20%, rgba(91, 173, 254, 0.46) 0%, rgba(91, 224, 254, 0.46) 47.2%, rgba(170, 254, 235, 0.43) 90%);
    padding: 30px;
    margin: 20px;
    text-align: center;
    border-radius: 10px; /* Rounded corners for the header too */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Consistent shadow effect */
}

h1, h2 {
    color: #ffffff;
}


section {
    margin: 20px;
    padding: 30px;
  
    background: radial-gradient(circle at 10% 20%, rgba(91, 173, 254, 0.46) 0%, rgba(91, 224, 254, 0.46) 47.2%, rgba(170, 254, 235, 0.43) 90%);
    border-radius: 10px; /* Adds rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
    color: rgb(61, 61, 61);
}

.profile-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    
}
.bio {
    flex: 3; /* Takes up 3 parts of the space */
}

.profile-picture {
    flex: 1; /* Takes up 1 part of the space */
}
.profile-picture img {
    width: 200px;  /* Fixed width for larger screens */
    height: 200px; /* Fixed height to maintain aspect ratio */
    border-radius: 50%; /* Makes the image round */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: Adds shadow for depth */
    object-fit: cover; /* Ensures the image covers the area without distorting */
    max-width: 100%; /* Ensures the image is not bigger than its container */
    float: right;
}
.vertical_split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    height: 100%;
}

.icon_bar img {
    width: 50px; /* Smaller size for icons */
    height: 50px; /* Maintain aspect ratio */
    margin-left: 15px; /* Space between icons */
}
.header_info {
flex-grow: calc(1 - 0.3); /* Takes up remaining space */
}




#work_experience {
    position: relative;
    padding: 20px;
}

.timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 4px;
    background: linear-gradient(to bottom, #0063c5 0%, #00bfff 50%, #29abff 100%); /* Updated Gradient */
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    z-index: 1;
    border-radius: 2px; /* Rounded caps */
    animation: glow 8s infinite ease-in-out;
}

@keyframes glow {
    0%, 100% {
        box-shadow: 0 0 8px #006699; /* Subtle blue glow */
    }
    50% {
        box-shadow: 0 0 25px #00bfff; /* Brighter blue glow */
    }
}



.timeline-item {
    display: flex;
    position: relative;
    margin: 20px 0;
}

.timeline-content, .timeline-date {
    padding: 10px;
    padding-left: 1%;
    border-radius: 8px; /* Rounded corners for timeline entries */
    background: radial-gradient(circle at 10% 20%, rgba(91, 173, 254, 0.46) 0%, rgba(91, 224, 254, 0.46) 47.2%, rgba(170, 254, 235, 0.43) 90%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadows for content blocks */
}

.timeline-content.left, .timeline-date.right {
    float: left;
    clear: both;
    width: 40%; /* Adjust based on your content */
    height: 100%;
    margin-right: 10px;
}

.timeline-content.right, .timeline-date.left {
    float: right;
    clear: both;
    width: 40%; /* Adjust based on your content */
    height: 100%;
    margin-left: 10px;
}

/* Alternate alignment for items */
.timeline-item:nth-child(odd) .timeline-content {
    margin-right: auto;
}

.timeline-item:nth-child(even) .timeline-date {
    margin-right: auto;
}



ul.a {
    list-style-type: circle;
  }