

html {
    
    font-size: 20px;
    color: black;
}
body {

    font-size: 1rem;
    line-height: 1.6;
    background: radial-gradient(905px at 4.9% 85.8%, rgb(255, 243, 242) 0.1%, rgb(255, 247, 220) 57.6%);    
    
}

h1, h2 {
    color: radial-gradient(circle at 10% 20%, rgba(91, 173, 254, 0.46) 0%, rgba(91, 224, 254, 0.46) 47.2%, rgba(170, 254, 235, 0.43) 90%);;
}

a {
    color: black;
    text-decoration: underline;
}
section {
    margin: 20px;
    padding: 30px;
    /*background: radial-gradient(circle at 10% 20%, rgba(91, 173, 254, 0.46) 0%, rgba(91, 224, 254, 0.46) 47.2%, rgba(170, 254, 235, 0.43) 90%);*/
    border-radius: 10px; /* Adds rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
    background:#f5f5dc;
}

.my_info {
    display: flex;
    justify-content: space-between;
    
}

.flex_row {
    display: flex;
    flex-direction: row;   
}

.flex_column {
    display: flex;
    flex-direction: column;
       
}

.flex_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.welcome_text {
    flex: 0 0 80%;  
}
.social_media_icons {
    display: flex;
    flex-direction: row;
    width: 25%;
    height: 100%;
    flex:0 0 20%;
    justify-content: right;
    align-items: right;
    
}

.about_me {
    flex:85%;
    justify-content: space-between;
}
.profile_picture {
    flex:15%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.profile_picture img {  /* Targeting all img elements within .images */
    border-radius: 50%;  /* This will make all images circular */
}


.social_media_icons img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  
}

#work_experience {
    position: relative;
    padding: 20px;
}

.timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 4px;
    background: linear-gradient(to bottom, #fc5000 0%, #c94000 50%, #993000 100%); /* Updated Gradient */
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    z-index: 1;
    border-radius: 2px; /* Rounded caps */
    animation: glow 3s infinite ease-in-out;
}

@keyframes glow {
    0%, 100% {
        box-shadow: 0 0 8px #fc5000; /* Subtle blue glow */
    }
    50% {
        box-shadow: 0 0 25px #00bfff; /* Brighter blue glow */
    }
}



.timeline-item {
    display: flex;
    position: relative;
    margin: 20px 0;
}

.timeline-content, .timeline-date {
    padding: 10px;
    padding-left: 1%;
    border-radius: 8px; /* Rounded corners for timeline entries */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadows for content blocks */
}

.timeline-content.left, .timeline-date.right {
    float: left;
    clear: both;
    width: 40%; /* Adjust based on your content */
    height: 100%;
    margin-right: 10px;
}

.timeline-content.right, .timeline-date.left {
    float: right;
    clear: both;
    width: 40%; /* Adjust based on your content */
    height: 100%;
    margin-left: 10px;
}

/* Alternate alignment for items */
.timeline-item:nth-child(odd) .timeline-content {
    margin-right: auto;
}

.timeline-item:nth-child(even) .timeline-date {
    margin-right: auto;
}

.card {
    width: calc(40% - 5px); /* Set width of cards */
    margin-right: 10px; /* Right margin for spacing between cards */
    margin-bottom: 10px; /* Bottom margin for spacing between rows */
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}


.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    width: 20%;
    height: 100%;
    background-color: rgba(255,255,255,0.3);
    border-radius: 5px;
    transform: skewX(-30deg);
    animation: slide 1.5s linear infinite;
    pointer-events: none;  /* Allows clicks to pass through to underlying elements */

}

@keyframes slide {
    0% {
        left: 0px;  
    }
    100% {
        left: 100%; 
    }
}

.project_image {
    flex:1;
}
.project_image img {
    border-radius: 15px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.project_description {
    flex: 1;
}